*{
   font-family: 'Share Tech Mono', monospace;
  
}

body{
   background-image: linear-gradient(to right, #fbc2eb, #a6c1ee), url('../img/logo200.png ');
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;

}

.gameTitle{
   
}
#board{
   width: 700px;
   height: auto;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
}

#board, .boardInfo{
   max-width: 800px;
   
}

#start, .boardInfo{
   font-size: 25px;
}


#gamerOver{
   display: none;
}

.boardInfo{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

#start{
   background-color: #f35a69;
   border: none;
   color: white;
   padding: 10px 25px;

   &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition: .3s ease-in-out;
   }
}

#scoreBoard{
   display: inline-block;
}

.square{
   aspect-ratio: 1;
}
.emptySquare{
   background-color: #456990;
}

.snakeSquare{
   background-color: aquamarine;
}

.foodSquare{
   background-color: yellow;
}
